.home-container {
    width: 90%;
    & > h1 {
        text-align: center;
        margin: 20px 0;
    }

    &__nav {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        background-color: rgb(244, 249, 253);
        padding: 10px;
        & > li {
            & > a {
                text-decoration: none;
                color: rgb(0, 0, 0);
                padding: 10px;
                border-radius: 5px;
                &:hover {
                    color: rgb(22, 123, 174);
                }
            }
            & > button {
                width: 40px;
                height: 40px;
                background-color: rgb(35, 137, 14);
                color: rgb(255, 255, 255);
                border-radius: 5px;
                border: none;
                font-size: 2em;
                cursor: pointer;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    &__stocks {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgb(244, 249, 253);
        padding: 10px;
        border-radius: 5px;

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px;
            border: 3px solid rgb(214, 213, 213);
            border-radius: 8px;
            background-color: #ebebeb;

            &-title {
                font-size: 1.2em;
                font-weight: bold;
                flex: 3;
            }
            &-text {
                font-size: 0.8em;
                color: rgb(161, 157, 157);
                flex: 3;
            }
            &-btns {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 1;
                
            }
            &-btn-primary, &-btn-secondary {
                text-decoration: none;
                background-color: rgb(35, 137, 14);
                color: rgb(255, 255, 255);
                border-radius: 5px;
                border: none;
                font-size: 0.8em;
                padding: 5px 10px;
                
                cursor: pointer;
                &:hover {
                    opacity: 0.5;
                }
            }
            &-btn-secondary {
                background-color: rgb(132, 8, 8);
                margin-left: 10px;
            }
            &-modal {

            }

            &:hover {
                background-color: rgb(255, 255, 255);
            }
        }
    }
}