.portfolios-container {
    width: 90%;
    & > h1 {
        text-align: center;
        margin: 20px 0;
    }

    &__nav {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        background-color: rgb(244, 249, 253);
        padding: 10px;
        & > li {
            & > a {
                text-decoration: none;
                color: rgb(0, 0, 0);
                padding: 10px;
                border-radius: 5px;
                &:hover {
                    color: rgb(22, 123, 174);
                }
            }
            & > button {
                width: 40px;
                height: 40px;
                background-color: rgb(35, 137, 14);
                color: rgb(255, 255, 255);
                border-radius: 5px;
                border: none;
                font-size: 2em;
                cursor: pointer;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgb(244, 249, 253);
        padding: 10px;
        border-radius: 5px;

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px;
            border: 3px solid rgb(214, 213, 213);
            border-radius: 8px;
            background-color: #ebebeb;

            &-title {
                font-size: 1.2em;
                font-weight: bold;
                flex: 3;
            }
            &-text {
                font-size: 0.8em;
                color: rgb(161, 157, 157);
                flex: 3;
            }
            &-btns {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 1;
                
            }
            &-btn-primary, &-btn-secondary {
                text-decoration: none;
                background-color: rgb(35, 137, 14);
                color: rgb(255, 255, 255);
                border-radius: 5px;
                border: none;
                font-size: 0.8em;
                padding: 5px 10px;
                
                cursor: pointer;
                &:hover {
                    opacity: 0.5;
                }
            }
            &-btn-secondary {
                background-color: rgb(132, 8, 8);
                margin-left: 10px;
            }
            &-modal {

            }

            &:hover {
                background-color: rgb(255, 255, 255);
            }
        }
    }

    &__modal {
        display: none;
        backdrop-filter: blur(5px);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 4;

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 50vw;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: rgb(255, 255, 255);
            z-index: 5;
            border-radius: 10px;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

            &__close {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: flex-end;
                width: 20px;
                height: 20px;
                background-color: rgb(132, 8, 8);
                color: rgb(255, 255, 255);
                border-radius: 3px;
                border: none;
                font-size: 1em;
                margin: 10px;
                cursor: pointer;
                &:hover {
                    opacity: 0.5;
                }
            }

            &__form {
                width: 80%;
                flex: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin: 10px 0;
                & > div {
                    width: 100%;
                    & > input {
                        width: 100%;
                        height: 40px;
                        border-radius: 3px;
                        border: 1px solid rgb(141, 141, 141);
                        padding: 10px;

                        &::placeholder {
                            color: rgb(180, 180, 180);
                        }
                    }
                    & > p{
                        color: rgb(161, 157, 157);
                        font-size: 0.8em;
                        margin: 5px;
                    }
                }
            }
            &__btns {
                width: 80%;
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                padding: 20px 10px;
            }
        }
    }
}