{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>

    <p> This is the dashboard page </p>

    {% if app.user %}
        {% for portfolio in app.user.portfolios %}
            <p> {{ portfolio.name }} </p>
        {% endfor %}
    {% endif %}

    <div
          className="svg-pi-wrapper"
          style="width: 150px; height: 150px;"
        >
          <svg
            className="svg-pi" 
            style="width: 150px; height: 150px;"
          >
            <circle
              className="svg-pi-track"
              cx="50"
              cy="50"
              fill="transparent"
              r="50"
              stroke="#44444444"
              strokeWidth="10"
            />
            <circle
              className="svg-pi-indicator svg-pi-indicator--spinner"
              style="animationDuration: 1000;"
              cx="50"
              cy="50"
              fill="transparent"
              r="25"
              stroke="#07c"
              strokeWidth="10"
              strokeDasharray="150"
              strokeDashoffset="60"
              strokeLinecap="round"
            />
          </svg>
  
        </div>
</div>
{% endblock %}
